<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Panel</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/user/user-panel.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <!-- Navbar -->
   <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#adminNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('index') }}">Airline-Z</a>
        </div>
        <div class="collapse navbar-collapse" id="adminNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li class="Active"><a href="{{ url_for('user_panel') }}"><i class="fa fa-home"></i> Home</a></li>
                <li><a href="{{ url_for('check_flights') }}"><i class="fa fa-plane"></i> Check Flights</a></li>
                <li><a href="{{ url_for('book_ticket') }}"><i class="fa fa-ticket"></i> Book Ticket</a></li>
                <li><a href="{{ url_for('cancel_ticket') }}"><i class="fa fa-ticket"></i> Cancel Ticket</a></li>
                <li><a href="{{ url_for('about_us') }}"><i class="fa fa-info-circle"></i> About Us</a></li>
                <li><a href="{{ url_for('contact_us') }}"><i class="fa fa-envelope"></i> Contact Us</a></li>
                <li><a href="{{ url_for('user_logout') }}"><i class="fa fa-sign-out-alt"></i>Logout</a></li>
            </ul>
        </div>
    </div>
</nav>

    <!-- Welcome Section -->
    <div class="container welcome-section">
        <h1>Welcome to Airline-Z User Panel</h1>
        <p>Manage your bookings, check flights, and stay updated with our services.</p>
    </div>

   <!-- Footer -->
   <footer class="footer">
        <div class="container text-center">
            <p>&copy; 2025 Airline-Z. All rights reserved.</p>
        </div>
   </footer>

   <script src="{{url_for('static', filename='js/user/user_panel.js')}}"></script>
</body>
</html>
